.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;


    // tablet styles - 768px
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 30px;
        }
    }
       

.clients__link {
    fill: currentColor;
}

.clients__items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    color: var(--icon-cl);
    border: 1px solid var(--icon-cl);
    border-radius: 4px;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-funcion);

    // tablet styles - 768px
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 226px;
            height: 92px;
            }
    
        // desktop styles - 1200px
        @media screen and (min-width: 1200px) {
            width: 170px;
            height: 92px;
        }

        &:not(:last-child) {
            @media screen and (max-width: 767px) {
                margin-bottom: 30px;
            }
        }

    &:hover,
    &:focus {
        color: var(--accent-cl);
        border-color: var(--accent-cl);
    }
 
}


